/* 盒模型多少寬度就算多少 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.ptb-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.ptb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p-32 {
    padding: 32px;
}

.pr-8 {
    padding-right: 8px;
}

.pb-48 {
    padding-bottom: 48px;
}


.mb-48 {
    margin-bottom: 48px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 4px;
}

 