@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* 通用 */
:root {
    --text-Primary-400: #57A203;
    --text-neutral-white: #ffffff;
    --text-neutral-300: #DEE2E6;
    --text-neutral-600: #6C757D;
    --text-neutral-900: #212529;

    --bg-Primary-100: #F5FEE7;
    --bg-Primary-200: #E8FEC5;
    --bg-Primary-300: #C0FA73;
    --bg-neutral-100: #F8F9FA;

    --row-margin: -12px;
    --col-padding: 12px;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--text-neutral-900);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
    height: auto;
}

/* 盒模型多少寬度就算多少 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 標題 */
.h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h3 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.h6 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

/* 字體顏色 */
.text-neutral-white {
    color: var(--text-neutral-white);
}

.text-neutral-300 {
    color: var(--text-neutral-300);
}

.text-neutral-600 {
    color: var(--text-neutral-600);
}

.text-neutral-900 {
    color: var(--text-neutral-900);
}

.text-Primary-400 {
    color: var(--text-Primary-400);
}

.bg-Primary-100 {
    background-color: var(--bg-Primary-100);
}

.bg-Primary-200 {
    background-color: var(--bg-Primary-200);
}

.bg-neutral-100 {
    background-color: var(--bg-neutral-100);
}

.text-center {
    text-align: center;
}

/* 間距  */

/* 搭配col- */
.p-default {
    padding-left: var(--col-padding);
    padding-right: var(--col-padding);
}

/* 全部 */
.p-32 {
    padding: 32px;
}

.p-12 {
    padding: 12px;
}

.pt-32 {
    padding-top: 32px;
}

/* 上下助教是py */

.ptb-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.ptb-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ptb-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.ptb-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ptb-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.ptb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* 下方 */
.pb-48 {
    padding-bottom: 48px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-12 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 4px;
}

/* 右邊助教是pe */
.mr-48 {
    margin-right: 48px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-24 {
    margin-right: 24px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-8 {
    margin-right: 8px;
}


/* flex 格線模式 */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-cneter {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--row-margin);
    margin-right: var(--row-margin);
}

.column {
    display: flex;
    flex-direction: column;
}


.col-1 {
    width: calc(100% / 12)
}

.col-2 {
    width: calc(100% / 12 * 2)
}

.col-3 {

    width: calc(100% / 12 * 3)
}

.col-4 {

    width: calc(100% / 12 * 4)
}

.col-5 {

    width: calc(100% / 12 * 5)
}

.col-6 {

    width: calc(100% / 12 * 6)
}

.col-7 {

    width: calc(100% / 12 * 7)
}

.col-8 {

    width: calc(100% / 12 * 8)
}

.col-9 {

    width: calc(100% / 12 * 9)
}

.col-10 {

    width: calc(100% / 12 * 10)
}

.col-11 {

    width: calc(100% / 12 * 11)
}

.col-12 {

    width: calc(100% / 12 * 12)
}

/* 按鈕 */
.btn {
    border-radius: 4px;
    /*二個值，【上下】採用同一值，【左右】採用同一值*/
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn-dark {
    background-color: var(--text-neutral-900);
    color: var(--text-neutral-white);
}