body {
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--text-neutral-900);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.container {
    /* 助教計算 1920-312-312 */
    max-width: 1296px;
    margin: 0 auto;
}

a{
    color: var(--text-neutral-900);
    text-decoration: none;
    display: block;
    font-weight: 500;
}

/* a:hover {
    color: var(--text-neutral-white);
    background-color: var(--text-Primary-400);
} */

img {
    max-width: 100%;
    height: auto;
}

/* 先寫大的尺寸再寫小的 */
@media (max-width:992px) {}

@media (max-width:768px) {}