
body {
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--text-neutral-900);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.container {
    /* 助教計算 1920-312-312 */
    max-width: 1296px;
    margin: 0 auto;
}

a{
    color: var(--text-neutral-900);
    text-decoration: none;
    display: block;
    font-weight: 500;
}

/* Page */
.breadcurmslash{
    padding: 0 12px;
    color: (--text-neutral-300);
    font-weight: 700;
}

.breadcurmblink{
    color:var(--text-neutral-600);
    font-weight: 500;
}

.category .active{
    color:var(--text-Primary-400);
}

.page-item .btn{
     /*二個值，【上下】採用同一值，【左右】採用同一值*/
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}

.page-item .active{
    background-color: var(--bg-Primary-300);
    font-weight: 500;
}



/* 先寫大的尺寸再寫小的 */
@media (max-width:992px) {}

@media (max-width:768px) {}