@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 通用 */
:root {
     
}

body {
    
}

.container {
    max-width: 856px;
    margin: 0 auto;
} 

footer{
    text-align: center;
}

/* 先寫大的尺寸再寫小的 */
@media screen and (max-width:992px) {
  
}

@media screen and (max-width:768px) {

} 